.idea/
data/input/features/*
data/tmp/*
data/results/*
data/cache/*
data/archive/*
build/*
src/__pycache__/
src/external/attrdict-2.0.0/dist
src/*.pyc
src/tests/*.pyc
!data/input/features/Avenue/03_feaPCA.train
./**/*.*~
