.idea/
data/input/features/*
data/tmp/*
data/results/*
data/cache/*
data/archive/*
build/*
anomalyframework/__pycache__/
anomalyframework/external/attrdict-2.0.0/dist
anomalyframework/*.pyc
anomalyframework/tests/*.pyc
!data/input/features/Avenue/03_feaPCA.train
**/*.*~
**/\#*#
unit_tests/runfiles/*
